table{
    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;
}

table thead{
    line-height: 3
}

table tr th,
table tr td{
    width: 25%;
    font-size: .9em;
    line-height: 2.5;
    text-align: left;
}


table tr th:last-child,
table tr td:last-child{
    width: 10%;
    text-align: right;
}

table tr th:first-child,
table tr td:first-child{
    width: 40%;
}

table button.add-btn{
    border: none;
    color: #7433f1;
    text-decoration: underline;
    background-color: transparent;
}

table tbody tr:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,0.1)
}